<div class="container" style="padding-top: 150px;">
	<div class="comment-form">
    <div class="page-title text-center">
    	<h2 style="font-family: 'Gochi Hand', cursive; font-size: 75px; color: #A300CC;">SHORTEN YOUR LINK</h2><br>
			<div class="col-md-8 col-md-offset-2">
				<%= form_for @url, role: "form" do |f| %>
					<div class="form-group">
						<%= f.text_field :original_url, class: "input-lg", required: true, placeholder: "URL" %>
					</div>
					<br>
        		<% if @url.errors.any? %>
        			<div id="error-explanation" class="col-md-8 col-md-offset-2">
          		<% @url.errors.messages.each do |param, msg| %>
            		<strong><span><%= msg.join(', ') %></span></strong><br/>
          </div>
          		<% end %>
        		<% end %>
      		<br>
					<%= f.submit "SHORTEN ME!", class: "btn btn-custom"%>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>