<div class="container" style="padding-top: 200px;">
	<div class="page-title text-center">
	  <h2 style="font-family: 'Gochi Hand', cursive; font-size: 55px; color: #A300CC;">YOUR SHORTENED URL:</h2><br><br><br>
	  <h4><%= link_to "#{@url.show_custom_url}", url_path, method: 'patch', target: "blank" %></h4>
	</div>
</div>