<footer style="bottom: 0; position: absolute; height: 75px; background-color: #A300CC; width: 100%;">
	<div class="container text-center" style="padding-top: 20px; color: white;">
		<h5 style="font-family: 'Gochi Hand', cursive; font-size: 18px;">Made with <span style="color: #FF99FF;"><i class="fa fa-heart"></i></span> Allison Shane</h5>
	</div>
</footer>