<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" style="font-family: 'Gochi Hand', cursive; color: #A300CC; font-size: 30px;" href="/">ShortenMe</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a style="font-family: 'Gochi Hand', cursive; color: #E085FF; font-size: 19px;" href="/"><span><i class="fa fa-link"></i></span> Shorten A Link</a></li>
				<li><a style="font-family: 'Gochi Hand', cursive; color: #E085FF; font-size: 19px;" href="/top100"><span><i class="fa fa-star"></i></span> Top 100 Links</a></li>
			</ul>
		</div>
	</div>
</nav>